import pandas as pd

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    {
        "Fruit": [4, 1, 2, 2, 4, 5],
        "Amount": [4, 1, 2, 2, 4, 5],
        "City": [4, 1, 2, 2, 4, 5],
        "cluster_0": [4, 1, 2, 2, 4, 5]
    }
)

In [3]:
features = ['Amount', 'City']
cluster = 'cluster_0'

In [4]:
df_aggreg = df[features+['cluster_0']].copy()
df_aggreg = df_aggreg.groupby(cluster).mean()#.transpose()

# rename columns
# cluster_cols = (np.array(range(5)) + 1).astype(str)
# aggregate.columns = cluster_cols

In [5]:
df_aggreg

           Amount  City
cluster_0
1             1.0   1.0
2             2.0   2.0
4             4.0   4.0
5             5.0   5.0

In [6]:
test_1 = df[['cluster_0', features[0]]].groupby('cluster_0').count().reset_index()
test_1.rename(columns={features[0]:'count'}, inplace=True)

In [7]:
test_1

   cluster_0  count
0          1      1
1          2      2
2          4      2
3          5      1

In [8]:
df_aggreg = df_aggreg.reset_index().merge(test_1, on='cluster_0').transpose()

In [9]:
df_aggreg

             0    1    2    3
cluster_0  1.0  2.0  4.0  5.0
Amount     1.0  2.0  4.0  5.0
City       1.0  2.0  4.0  5.0
count      1.0  2.0  2.0  1.0

In [10]:
test_2 = df.mean().reset_index()
test_2['stdev'] = df.std().values
test_2.columns = ['index', 'mean_val', 'stdev']

In [11]:
test_2

       index  mean_val     stdev
0      Fruit       3.0  1.549193
1     Amount       3.0  1.549193
2       City       3.0  1.549193
3  cluster_0       3.0  1.549193

In [14]:
df_aggreg.reset_index().merge(test_2, on='index', how='left')

       index    0    1    2    3  mean_val     stdev
0  cluster_0  1.0  2.0  4.0  5.0       3.0  1.549193
1     Amount  1.0  2.0  4.0  5.0       3.0  1.549193
2       City  1.0  2.0  4.0  5.0       3.0  1.549193
3      count  1.0  2.0  2.0  1.0       NaN       NaN